@import url("https://fonts.googleapis.com/css?family=Lato|Lobster+Two");
body {
  font-family: "Lato", sans-serif;
}

.main-section {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr;
}
.main-section .main-section__title {
  font-family: "Lobster Two", cursive;
  text-align: center;
  color: #e74c3c;
}
.main-section .main-section__modal-div {
  background-color: #34495e;
  padding: 30px;
}
