<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Image Gallery</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section class="main-container">
    <header class="header">
      <h1 class="header_title">Image Gallery</h1>
    </header>

    <article class="seacrh-form__container">
      <form class="seacrh-form">
        <input class="seacrh-form__input">
        <button type="submit" class="search-form__btn">Submit</button>
      </form>
    </article>
    <section class="grid-container">
      
    </section>
    <!-- <article class="pagination-container">
      <div class="pagination-container__links">
        <a href="#" class="pagination-container__button" data-id="1">1</a>
        <a href="#" class="pagination-container__button" data-id="2">2</a>
        <a href="#" class="pagination-container__button" data-id="3">3</a>
        <a href="#" class="pagination-container__button" data-id="4">4</a>
        <a href="#" class="pagination-container__button" data-id="5">5</a>
        <a href="#" class="pagination-container__button" data-id="6">6</a>
        <a href="#" class="pagination-container__button" data-id="7">7</a>
        <a href="#" class="pagination-container__button" data-id="8">8</a>
        <a href="#" class="pagination-container__button" data-id="9">9</a>
        <a href="#" class="pagination-container__button" data-id="10">10</a>
      </div>
    </article> -->
    
    <div id="modal">
      <span class="close">&times;</span>
    </div>
    
    <section class="total-count">
      <h2>Total Word Count</h2>
      <p id="total-word-count"></p>
    </section>
    
    <section class="word-count">
      <h2>Word Count</h2>
      <ul id="word-count-list">

      </ul>
    </section>
  
  </section>
  <footer class="footer">Made with love and JavaScript</footer>
  <script src="js/script.js"></script>
</body>
</html>