@import url("https://fonts.googleapis.com/css?family=Lato|Lobster+Two");
body {
  font-family: "Lato", sans-serif;
}

.grid-container {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}
.grid-container .grid-container div {
  width: 140px;
  height: 140px;
}
.grid-container .grid-container__thumbnails {
  width: 140px;
  height: 140px;
  position: relative;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
